<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.guest.BoardMapper">
	<insert id="create">
		insert into tbl_board (bno,title,content,writer,regdate)
		values (tbl_board_seq.nextval,#{title},#{content},#{writer},sysdate)
	</insert>

	<select id="read" resultType="guestRow">
		select
		bno,title,content,writer,regdate,viewcnt,replycnt
		from tbl_board
		where bno =
		#{bno}
	</select>

	<update id="update">
		update tbl_board set title=#{title},
		content=#{content},regdate = sysdate
		where bno=#{bno}
	</update>

	<delete id="delete">
		delete from tbl_board where bno =#{bno}
	</delete>

	<select id="listAll" resultType="guestRow">
		<![CDATA[ 
			select bno,title,content,writer,regdate,viewcnt,replycnt
			from tbl_board
			where bno>0
			order by bno desc, regdate desc
 		]]>
	</select>

<!-- 	<select id="listPage" resultType="guestRow">
		<![CDATA[
     		select bno,title,content,writer,regdate,viewcnt
     			from (select  bno,title,content,writer,regdate,viewcnt, rownum rn
           			from (select  bno,title,content,writer,regdate,viewcnt
		         		from tbl_board
		         			order by bno desc, regdate desc)
		 				)
     		where rn between #{start} and #{end}
 	 ]]>
	</select> -->
	
	<select id="totCount" resultType="int">
		select count(*) from tbl_board
	</select>
	
	<select id="countPaging" resultType="int">
	<![CDATA[
		select count(bno) from tbl_board where bno>0
	]]>
	</select>
	
	<select id="listSearch" resultType="guestRow">
		<![CDATA[ 
			select *
			from tbl_board
			where bno>0
 		]]>
 		<include refid="search"></include>
 		<![CDATA[ 
			order by bno desc
 		]]>
	</select>
	
	<sql id="search"><!-- 함수처럼 호출 가능 -->
 		<if test="searchType !=null">
 			<if test="searchType == 't'.toString()">and title like '%'||#{keyword}||'%'</if>
 			<if test="searchType == 'c'.toString()">and content like '%'||#{keyword}||'%'</if>
 			<if test="searchType == 'w'.toString()">and writer like '%'||#{keyword}||'%'</if>
 			<if test="searchType == 'tc'.toString()">and (title like '%'||#{keyword}||'%' OR content like '%'||#{keyword}||'%')</if>
 			<if test="searchType == 'cw'.toString()">and (content like '%'||#{keyword}||'%' OR writer like '%'||#{keyword}||'%')</if>
 			<if test="searchType == 'tcw'.toString()">and (title like '%'||#{keyword}||'%' OR content like '%'||#{keyword}||'%' OR writer like '%'||#{keyword})||'%'</if>
 		</if>
	</sql>
	
	<select id="listSearchCount" resultType="int">
		<![CDATA[
			select count(bno) from tbl_board where bno>0
		]]>
		<include refid="search"></include>
	</select>
	
	<update id="updateReplyCnt">
		update tbl_board set replycnt = (select count(rno) from tbl_reply where bno = tbl_board.bno) 
		<!-- 한 게시글당 댓글수 -->
		<!-- replycnt+ #{amount} where bno = #{bno} -->
	</update>
	
	<update id="updateViewCnt">
		update tbl_board set viewcnt = viewcnt+1 where bno =#{bno}
	</update>
	
	<insert id="addAttach">
		insert into tbl_attach(fullname,bno) values (#{fullName},(select LAST_NUMBER from user_sequences
		where SEQUENCE_NAME = 'TBL_BOARD_SEQ')-1)
	</insert>
</mapper>