<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.guest.ReplyMapper">

	<select id="list" resultType="replyRow">
		select * from tbl_reply where bno=#{bno} order by rno desc
	</select>

	<select id="listPage" resultType="replyRow">
		select * from tbl_reply where bno = #{bno} order by rno desc
	</select>
	
	<select id="count" resultType="int"><!-- 게시글 1개에 대한 총 댓글수 -->
		select count(*) from tbl_reply where bno = #{bno}
	</select>

	<insert id="create">
		insert into tbl_reply (rno,bno,replytext,replyer)
		values (tbl_reply_seq.nextval,#{bno},#{replytext},#{replyer})
	</insert>

	<update id="update">
		update tbl_reply set replytext = #{replytext}, updatedate = sysdate where rno=#{rno}
	</update>
	
	<delete id="delete">
		delete from tbl_reply where rno= #{rno}
	</delete>
</mapper>