<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<logger name="jdbc.sqlonly" level="debug" />
	<logger name="jdbc.sqltiming" level="info" />
	<logger name="jdbc.audit" level="warn" />
	<logger name="jdbc.resultset" level="error" />
	<logger name="jdbc.resultsettable" level="error" />
	<logger name="jdbc.connection" level="info" />
</configuration>